$border-color: #293241;

.nameJumpAnimation {
  display: inline-block;
  animation: subtleJump 3s infinite;

  @keyframes subtleJump {
    50% {
      transform: translateY(-15px);
    }
  }
}

.timelineContainer {
  min-height: max-content;
  padding: 2rem 1rem;
  box-sizing: border-box;

  &>* {
    box-sizing: border-box;
    height: 20rem;
  }

  &>*:nth-child(odd) {
    margin-left: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    // border: thick dashed yellowgreen;
    padding: 1rem 1rem 1rem 0;
    z-index: 10;

    div {
      padding: 1rem 1rem 1rem 0;
      height: 100%;
      border: 0.4rem dashed $border-color;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      border-left: none;

      div {
        border: none;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: white;
      }
    }
  }

  &>*:nth-child(even) {
    margin: -2.4rem 0;

    margin-right: 3rem;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;

    padding: 1rem 0 1rem 1rem;

    // z-index: -1;
    div {
      padding: 1rem 0 1rem 1rem;
      height: 100%;
      border: 0.4rem dashed $border-color;

      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-right: none;

      div {
        border: none;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: white;
      }
    }
  }

  &>*:nth-child(1) {
    border-top-right-radius: 0;
    border-top: none;
    padding-top: 0;

    div {
      padding-top: 0;
      border-top-right-radius: 0;
      border-top: none;

      div {
        border-top-right-radius: 0;
      }
    }
  }

  &>*:last-child {
    border-bottom-left-radius: 0;
    border-bottom: none;
    padding-bottom: 0;

    div {
      padding-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;

      div {
        border-bottom-left-radius: 0;
      }
    }
  }
}

.mask1 {
  -webkit-mask-image: url('../../assets/brush-stroke-banner-background.png');
  mask-image: url('../../assets/brush-stroke-banner-background.png');
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.scrollMagicDefault {
  &>* {
    padding-bottom: 0 !important;
  }
}